#projects-styles {
 .project-title{
  margin-bottom: 4px;
 }
  .title {
    display: flex;
    align-items: center;
    // gap: 10px;
  }
  .tec{
    margin-left: 4px;
  }

  .project-name {
    font-weight: 600;
  }


  .project{
    margin-bottom: 5px;
  }

  .item{
    margin-left: 10px;
    display: flex;
    align-items: end;
  }
}
