#projects-styles {
 .project-title{
  margin-bottom: 5px;
 }
  .title {
    display: flex;
    align-items: center;
    // gap: 10px;
  }
  .tec{
    margin-left: 4px;
  }

  .project-name {
    font-weight: 600;
  }

  .br {
    height: 5px;
    // background-color: red;
  }
}
