@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

@font-face {
  font-family: "consola";
  src: url(../public/assets/fonts/CONSOLA.TTF);
}

body {
  margin: 0;
  // font-family: consola;
  font-family: "Nunito", sans-serif;
  // font-family: 'Times New Roman', Times, serif;

}

.cv {
  width: 21cm;
  // min-height: 29.7cm;
  padding: 1cm;
  // margin: 1cm auto;
  // border: 1px #d3d3d3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

@media print {
  html, body {
    height: 100vh; /* Use 100% here to support printing more than a single page*/
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }
}

// @media all {
//   .page-break {
//     display: none;
//   }
// }

// @media print {
//   html, body {
//     height: initial !important;
//     overflow: initial !important;
//     -webkit-print-color-adjust: exact;
//   }
// }

// @media print {
//   .page-break {
//     margin-top: 1rem;
//     display: block;
//     page-break-before: auto;
//   }
// }

// @page {
//   size: auto;
//   margin: 20mm;
// }


// @media all {
//   .page-break {
//     display: none;
//   }
// }

// @media print {
//   html, body {
//     height: initial !important;
//     overflow: initial !important;
//     -webkit-print-color-adjust: exact;
//   }
// }

// @media print {
//   .page-break {
//     margin-top: 1rem;
//     display: block;
//     page-break-before: auto;
//   }
// }

// @page {
//   size: auto;
//   margin: 20mm;
// }


.h1 {
  font-size: 24px;
}

.h2 {
  font-size: 20px;
}

.h3 {
  font-size: 18px;
  // margin-bottom: 3px;
}
.h4 {
  font-size: 16px;
  // margin-bottom: 2px;
}
.h5 {
  font-size: 14px;
  // margin-bottom: 2px;
}
.h6 {
  font-size: 12px;
  vertical-align: bottom;
  text-align: end;
  display: flex;
  align-items: center;
  // margin-bottom: 2px;
}

.bold {
  font-weight: bolder;
}

.bold-2 {
  font-weight: 600;
}

.break {
  height: 3px;
}

.cursor {
  cursor: pointer;
}

.end{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  // border-bottom: 1px solid black;
  width: fit-content;
}

.end-contaienr{
  // border: 1px dotted black;
  // padding: 10px;
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;

  
}

a{
  // all: unset;
  color: black;
  text-decoration: none; /* no underline */

}


.brek-items-from-left{
  margin-left: 10px;
}